@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// 1. Import the initial variables
@import "../stylesheets/bulma/sass/utilities/initial-variables";
@import "../stylesheets/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #da4357;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Inter", sans-serif;
$white-ter: #f2f7f2;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../stylesheets/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert,
  ),
  "github": (
    $github,
    $github-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../stylesheets/bulma/bulma.sass";
@import "../stylesheets/bulma-steps";
@import "../stylesheets/bulma-pricingtable";

html {
  height: 100%;
  font-family: "Inter", sans-serif;
  --bg: url(../assets/images/backgrounds/background.svg);
  --bg-panel: #f2f7f2;
  --color-accent: rgb(218, 67, 87);
  --color-text: #312f2f;
  --promo-color-text: #f2f7f2;
  --color-text-feint: rgba(49, 47, 47, 0.08);
  --btn-hover-bg: #f2f7f2;
  --bg-color: #ebccd0;
  --banner-color: #f2f7f2;
  --feint-background-color: #ebccd0;
  --promo-background-color: #2b2b2b;
}

html[data-theme="dark"] {
  --bg: url(../assets/images/backgrounds/background-dark.png);
  --bg-panel: #2b2b2b;
  --color-accent: rgb(218, 67, 87);
  --color-text: #f2f7f2;
  --promo-color-text: #312f2f;
  --bg-color: #2b2b2b;
  --banner-color: #414141;
  --promo-background-color: #f2f7f2;
}

body {
  background-color: var(--bg-color);
  .navbar-dropdown {
    background-color: var(--bg-panel);
    border-top: 2px solid var(--color-accent);
  }
  .navbar-menu {
    background: var(--bg-panel) !important;
  }
  .navbar-burger {
    color: var(--color-text);
  }

  /*Switch start*/
  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-text);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--color-accent);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }

  /*------ ADDED CSS ---------*/
  .on {
    display: none;
  }

  .on,
  .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  input:checked + .slider .on {
    display: block;
  }

  input:checked + .slider .off {
    display: none;
  }

  /*--------- END --------*/

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  /*Switch End*/

  .bg-light {
    transition: 750ms ease;
    background: none !important;
  }

  .bg-light.scrolled {
    background: var(--bg-panel) !important;
  }
  .navbar-item,
  .navbar-link {
    color: var(--color-text);
  }
  .navbar-item:hover {
    background: none;
  }

  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background: none;
  }
  .hero {
    background: var(--bg);
    height: 100vh;
  }
  .section-title {
    padding-bottom: 15px;
    color: var(--color-text);
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
  }
  .tile {
    background: var(--bg-color);
    text-align: center;
  }
  .tile-container {
    justify-content: center;
  }
  .current {
    color: var(--color-accent);
    border-top: 5px solid var(--color-accent);
  }
  .title {
    color: var(--color-accent);
  }
  .subtitle {
    color: var(--color-text);
  }
  .icon-container {
    color: var(--color-text);
  }
  .promotion-section {
    text-align: center;
    background: var(--promo-background-color);
    .promotion-section-title {
      color: var(--promo-color-text);

      font-weight: bold;
      border-bottom: 4px double var(--bg-panel);
      text-shadow: 0 0.5em 1em -0.125em var(--color-text),
        0 0px 0 1px rgba(10, 10, 10, 0.02);
    }
    .promotion-section-subtitle {
      color: var(--promo-color-text);

      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .highlighted-text {
    color: var(--color-accent);
    font-weight: 600;
  }
  .button-custom {
    opacity: 0;
    display: block;
    width: 180px;
    text-align: center;
    background: var(--color-accent) none repeat scroll 0 0;
    color: var(--btn-hover-bg);
    outline: none;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    animation: fadeDown 0.5s forwards;
    animation-delay: 0.5s;
  }

  .button-custom:hover {
    background: var(--btn-hover-bg) none repeat scroll 0 0;
    color: var(--color-accent);
  }

  .button-promo {
    opacity: 0;
    display: block;
    width: 180px;
    text-align: center;
    background: var(--color-accent) none repeat scroll 0 0;
    color: var(--btn-hover-bg);
    outline: none;
    padding: 15px;
    text-decoration: none;
    animation: fadeDown 0.5s forwards;
    animation-delay: 0.5s;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .button-promo:hover {
    background: var(--bg-panel) none repeat scroll 0 0;
    color: var(--color-text);
  }
  .glide__arrow {
    border: none;
    color: var(--color-text);
  }
  .glide__arrow:hover {
    border: none;
    color: var(--color-accent);
  }
  .glide__slide .card {
    background-color: transparent !important;
    padding: 20% !important;
    background-color: white;
    box-shadow: none;
    /* -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
    /* box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
  }
  .hero-title {
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: scale 0.5s forwards;
  }
  p.hero-subtitle.subtitle {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 0.5s;
  }
  .hero-full-text-dev,
  .long-hero-title-pc {
    font-size: 4rem;
    color: var(--color-accent);
  }
  .hero-short-text-dev,
  .short-hero-title-pc {
    display: none;
    font-size: 4rem;
    color: var(--color-accent);
  }
  .services {
    background-color: var(--bg-color);
  }
  .steps-content p,
  .tile p {
    color: var(--color-text);
  }

  /*Domains Page*/
  .cloud-hero {
    background-image: url(../assets/images/backgrounds/header.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-title-alt {
    text-transform: uppercase;
    color: var(--bg-panel);
    font-weight: bold;
  }
  .page-subtitle {
    font-weight: bold;
    color: var(--bg-panel);
  }

  /*animations*/
  @keyframes fadeUp {
    0% {
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes grow {
    0% {
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }

  @keyframes fadeDown {
    0% {
      transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*******************/
  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    color: var(--color-text);
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover,
  #back-to-top-btn:focus {
    background-color: var(--color-accent);
    border: 1px solid var(--banner-color);
    color: #fff;
  }

  .knowledge-base-section {
    background-color: var(--bg-panel);
  }

  @media (max-width: 992px) {
    #back-to-top-btn {
      font-size: 22px;
      width: 40px;
      height: 40px;
      bottom: 15px;
      right: 15px;
    }
  }
  @media (max-width: 768px) {
    #back-to-top-btn {
      font-size: 18px;
      width: 32px;
      height: 32px;
      bottom: 6px;
      right: 6px;
    }
  }

  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  /* zoomIn */
  /* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
  }
  @media (max-width: 1200px) {
    .hero-short-text-dev,
    .short-hero-title-pc {
      display: inline-block !important;
    }
    .hero-full-text-dev,
    .long-hero-title-pc {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .hero-feature-image {
      display: none;
    }
  }
}
