@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// 1. Import the initial variables
@import "../stylesheets/bulma/sass/utilities/initial-variables";
@import "../stylesheets/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Inter", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../stylesheets/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert,
  ),
  "github": (
    $github,
    $github-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../stylesheets/bulma/bulma";
@import url("https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css");

body {
  .hero {
    background: url(../assets/images/backgrounds/background.svg);
    height: 100vh;
  }
  .section-title {
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 26px;
  }
  .tile {
    text-align: center;
  }
  .service-icon {
    background: red;
    width: 135;
    max-height: auto;
    align-items: center;
  }
  .tile-container {
    justify-content: center;
  }
}
